/*-- BASE FOLDER --*/
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

:root {
  --color-main-brown: #c9a469;
  --color-main-gray: #e3e3e3; }

/*-- LAYOUT FOLDER --*/
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/hotel-door.jpg");
  background-size: cover; }

.navigation {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 8rem; }
  .navigation h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: .5rem; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50rem; }
  .nav__list {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 34rem;
    margin-right: 1rem; }
    .nav__list--item {
      margin: 0 2px;
      font-size: 1.5rem; }
    .nav__list a {
      text-decoration: none;
      color: #cccccc;
      transition: color .5s; }
    .nav__list a:hover {
      color: white; }
  .nav button {
    margin-left: 1rem;
    background-color: transparent;
    color: #cccccc;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    transition: color .5s; }
  .nav button:hover {
    color: white;
    cursor: pointer; }

.heading {
  text-align: center;
  color: white;
  margin-top: 25rem; }
  .heading h1 {
    font-size: 6rem;
    margin-bottom: 0; }
  .heading h3 {
    font-size: 3rem;
    margin-top: 1.5rem; }
  .heading button {
    background-color: var(--color-main-brown);
    padding: 1.8rem 4.2rem;
    font-size: 1.5rem;
    color: white;
    border: none;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: .4rem;
    transition: background-color .5s; }
  .heading button:hover {
    background-color: #d7bb8f;
    cursor: pointer; }

.info {
  display: flex;
  flex-direction: row;
  margin-top: 12rem;
  height: 60rem; }
  .info__heading {
    flex: 1;
    justify-content: center;
    text-align: center; }
    .info__heading h1 {
      text-align: center;
      font-size: 4.6rem;
      margin-top: 1.3rem; }
    .info__heading h3 {
      text-align: center;
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #d9d9d9;
      margin-top: 7rem; }
    .info__heading p {
      text-align: center;
      width: 55%;
      margin: 0 auto;
      font-size: 1.5rem;
      line-height: 3rem;
      color: gray; }
    .info__heading button {
      text-align: center;
      margin-top: 4rem;
      padding: 1.8rem 4.2rem;
      font-size: 1.2rem;
      color: white;
      border: none;
      background-color: var(--color-main-brown);
      text-transform: uppercase;
      transition: background-color .5s; }
    .info__heading button:hover {
      background-color: #d7bb8f;
      cursor: pointer; }
  .info__photos {
    flex: 1;
    position: relative; }

.bar {
  height: 25rem;
  width: 37rem;
  position: absolute;
  bottom: 0;
  top: 25rem;
  z-index: 5; }

.blanket {
  height: 31rem;
  width: 33rem;
  position: absolute;
  top: 0;
  left: 4rem; }

.pool {
  height: 42rem;
  width: 40rem;
  position: absolute;
  top: 4rem;
  left: 27rem;
  z-index: 2; }

.rooms {
  height: 100rem;
  background-color: #f8f8f8;
  padding-bottom: 7rem; }
  .rooms__flex {
    display: flex;
    width: 80%;
    margin: auto; }
  .rooms__heading {
    text-align: center;
    padding: 1px; }
    .rooms__heading h1 {
      font-size: 4.5rem;
      margin-top: 0;
      margin-bottom: 8rem; }
    .rooms__heading h3 {
      font-size: 1.5rem;
      margin: 10rem auto 2rem;
      color: #b3b3b3; }
  .rooms__info {
    display: flex; }
    .rooms__info img {
      width: 2.5rem; }
    .rooms__info figure {
      width: 10rem;
      margin: 0;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .rooms__info figure img {
        display: inline;
        height: 30px; }
      .rooms__info figure p {
        display: inline;
        font-size: 1.2rem;
        color: #4d4d4d; }
    .rooms__info figure:last-child {
      margin-left: 1.5rem; }
  .rooms__main {
    flex: 1.2;
    background-color: white;
    border: 1px lightgray solid; }
    .rooms__main--img {
      height: 40rem;
      width: 100%; }
    .rooms__main--info {
      width: 90%;
      margin: auto; }
    .rooms__main h1 {
      font-size: 2.8rem;
      color: var(--color-main-brown); }
    .rooms__main .description {
      font-size: 1.5rem;
      color: #4d4d4d;
      margin: 3rem auto; }
    .rooms__main button {
      padding: 1.8rem 4.2rem;
      color: white;
      font-size: 1.5rem;
      background-color: var(--color-main-brown);
      border: none;
      margin-bottom: 5rem;
      transition: background-color .5s; }
    .rooms__main button:hover {
      background-color: #d7bb8f;
      cursor: pointer; }
  .rooms__side {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 4rem; }
    .rooms__side span {
      padding: .5rem 1.5rem;
      border: none;
      background-color: gold;
      color: white;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 1.4rem;
      position: absolute;
      top: 86%;
      left: 1.4rem; }
    .rooms__side--div-one {
      background-image: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)), url(../../img/side-room-1.jpg);
      flex: 1;
      background-size: cover;
      margin-bottom: 4rem;
      position: relative; }
    .rooms__side--div-two {
      background-image: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)), url(../../img/side-room-2.jpg);
      flex: 1;
      background-size: cover;
      position: relative; }

.bedroom {
  height: 65rem;
  margin: 0;
  padding: 1px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../../img/ocean.jpg");
  background-repeat: repeat;
  background-size: cover; }
  .bedroom h1 {
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 7rem;
    margin-top: 25rem; }
  .bedroom p {
    padding: 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem;
    width: 50%; }

.blog {
  padding: 1px;
  background-color: #f8f8f8; }
  .blog__heading {
    text-align: center; }
    .blog__heading h1 {
      font-size: 5rem;
      margin: 1rem auto 8rem; }
    .blog__heading h3 {
      font-size: 1.2rem;
      color: #b3b3b3;
      margin: 8rem auto 0; }
  .blog__blogs {
    width: 70%;
    margin: 0 auto; }
  .blog__list {
    display: flex;
    margin-bottom: 10rem; }
    .blog__list--blog {
      flex: 1;
      margin: 0 2rem;
      background: white; }
      .blog__list--blog--description {
        width: 90%;
        margin: 0 auto; }
        .blog__list--blog--description h3 {
          font-size: 1.2rem;
          color: #b3b3b3;
          padding-bottom: 1rem;
          border-bottom: 1px solid #666666;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: .2rem;
          margin-top: 2rem;
          margin-bottom: 2rem; }
        .blog__list--blog--description h1 {
          font-size: 2.7rem;
          color: var(--color-main-brown);
          margin-top: 0; }
        .blog__list--blog--description p {
          font-size: 1.5rem;
          line-height: 2.5rem;
          color: #666666;
          margin-bottom: 2rem; }
        .blog__list--blog--description button {
          background-color: transparent;
          color: var(--color-main-brown);
          padding: 1.2rem 3.5rem;
          font-size: 1.6rem;
          border: 2px solid #c9a469;
          margin-bottom: 5rem;
          transition: background .5s; }
          .blog__list--blog--description button:hover {
            color: white;
            background: var(--color-main-brown);
            cursor: pointer; }
      .blog__list--blog img {
        width: 100%;
        height: 22rem; }

.footer {
  background-color: #f3f3f3;
  padding: 1px;
  margin: 0; }
  .footer__info {
    display: flex;
    width: 70%;
    margin: 5rem auto 2rem; }
    .footer__info h3 {
      font-size: 2rem;
      color: gray; }
    .footer__info h4 {
      font-size: 1.5rem;
      color: #4d4d4d; }
    .footer__info a {
      text-decoration: none;
      color: #050505;
      font-size: 1.9rem; }
    .footer__info--phone {
      flex: 1; }
    .footer__info--contact {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .footer__info--contact h4 {
        margin-top: 0; }
      .footer__info--contact--icons {
        text-decoration: none;
        list-style: none;
        padding: 0;
        display: flex; }
        .footer__info--contact--icons img {
          height: 2.2rem;
          width: 2.2rem; }
      .footer__info--contact--icon:not(:first-child) {
        margin-left: 2.5rem; }
    .footer__info--email {
      flex: 1; }
      .footer__info--email input {
        padding: .7rem;
        width: 80%;
        font-size: 1.5rem;
        border: 1px solid gray; }
  .footer__copyright {
    font-size: 1.7rem;
    text-align: center;
    color: #4d4d4d;
    margin: 5rem 0; }

/*-- COMPONENT FOLDER --*/
