.blog {
    padding: 1px;
    background-color: lighten(gray, 47%);
    
    &__heading {
        text-align: center;
        
        h1 {
            font-size: 5rem;
            margin: 1rem auto 8rem;
        }
        
        h3 {
            font-size: 1.2rem;
            color: lighten(gray, 20%);
            margin: 8rem auto 0;
        }
    }
    
    &__blogs {
        width: 70%;
        margin: 0 auto;    
    }
    
    &__list {
        display: flex;
        margin-bottom: 10rem;
        
        &--blog {
            flex: 1;
            margin: 0 2rem;
            background: white;
            
            &--description {
                width: 90%;
                margin: 0 auto;
                
                h3 {
                    font-size: 1.2rem;
                    color: lighten(gray, 20%);
                    padding-bottom: 1rem;
                    border-bottom: 1px solid lighten(black, 40%);
                    display: inline-block;
                    text-transform: uppercase;
                    letter-spacing: .2rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
                
                h1 {
                    font-size: 2.7rem;
                    color: var(--color-main-brown);
                    margin-top: 0;
                }
                
                p {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    color: lighten(black, 40%);
                    margin-bottom: 2rem;
                }
                
                button {
                    background-color: transparent;
                    color: var(--color-main-brown);
                    padding: 1.2rem 3.5rem;
                    font-size: 1.6rem;
                    border: 2px solid #c9a469;
                    margin-bottom: 5rem;
                    transition: background .5s;
                    
                    &:hover {
                        color: white;
                        background: var(--color-main-brown);
                        cursor: pointer;
                    }
                }
            }
            
            img {
                width: 100%;
                height: 22rem;
            }
        }
    }
}

/*-- MEDIA QUERIES --*/

@media( max-width: 1200px ) {
    
    .blog {
        
        &__blogs {
            width: 85%;
        }
    }
}


@media( max-width: 990px ) {
    
    .blog__blogs {
        width: 95%;
    }
    
    .blog__list--blog {
        margin: 1rem;
    }
}


@media( max-width: 770px ) {
    
    .blog {
        
        &__list {
            flex-direction: column;
            width: 75%;
            margin: auto;
            margin-bottom: 5rem;
            
            img {
                height: 30rem;
            }
        }
    }
}


@media( max-width: 500px ) {
    
    .blog {
        
        &__heading {
            
            h1 {
                font-size: 4rem;
            }
        }
        
        &__list {
            width: 95%;
        }
    }
}








