.info {
    display: flex;
    flex-direction: row;
    padding-top: 10rem;
    height: 60rem;
    
    &__heading {
        flex: 1;
        justify-content: center;
        text-align: center;
        margin-right: -10px;
        
        h1 {
            text-align: center;
            font-size: 4.6rem;
            margin-top: 1.3rem;
        }
        
        h3 {
            text-align: center;
            font-size: 1.3rem;
            text-transform: uppercase;
            margin-bottom: 0;
            color: lighten( gray, 35% );
            margin-top: 7rem;
        }
        
        p {
            text-align: center;
            width: 55%;
            margin: 0 auto;
            font-size: 1.5rem;
            line-height: 3rem;
            color: lighten(black, 50%);
        }
        
        button {
            text-align: center;
            margin-top: 4rem;
            padding: 1.8rem 4.2rem;
            font-size: 1.2rem;
            color: white;
            border: none;
            background-color: var(--color-main-brown);
            text-transform: uppercase;
            transition: background-color .5s;
        }
        
        button:hover {
            background-color: lighten(#c9a469, 10%);
            cursor: pointer;
        }
    }
    
    &__photo {
        flex: 1;
        margin-left: -10px;
        
        &--photo {
            width: 70rem;
            max-height: 70rem;
        }
    }
}

@media( max-width: 1100px ) {
    
    .info {
        align-items: center;
        margin: 0;
        padding: 0;
        
        &__photo {
            
            &--photo {
                width: 50rem;
                height: 50rem;
            }
        }
    }
}


@media( max-width: 880px ) {
    
    .info {
        flex-direction: column;
        height: 110rem;
        justify-content: center;
        align-content: center;
        
        &__photo {
            margin-bottom: 10rem;
        }
        
        &__heading {
            
        }
    }
}

@media( max-width: 460px ) {
    
    .info {
        height: 100rem;
        
        &__photo {
            margin-bottom: 0;
            
            &--photo {
                height: 40rem;
                width: 40rem;
            }
        }
    }
}











